@tailwind base;
@tailwind components;
@tailwind utilities;


    .topButtons{
        @apply hover:border-blue-900 border-b-4 rounded-md w-20 border-white   shadow-sm flex justify-center

    }
    .story{
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        @apply  h-44  w-24 rounded-lg my-2 text-lg font-bold p-1


    }
    .storyPage{
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        min-height: 100vh;
        @apply   w-full   text-lg font-bold p-1  inline-block


    }

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


    
    .clicked-top-button{
        @apply bg-sky-600 border-blue-900
    }

 